.navbar {
    background-color: #ba8c63;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: row ;
    width: 100%;
    align-items: center;
}

.navbar-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-right: 40px;
}

.nav-link {
    color: #4a2511;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}

.navbar-name {
    font-size: 1.5rem;
    font-weight: bold;
    color: #4a2511;
    margin-left: 40px;
}

.navabar-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #b1dd9e;
    padding: 5px;
}